
<script>
    $(document).ready(function(){
        $(".nav li").removeClass("active");
        $("#mninicio").addClass("active");
    })
</script>


<div class="row">
    <div class="col-md-4">
        <h1>Tubo Norte</h1>
        <p>Bienvenido al sitio oficial de la empresa TuboNorte, lider en distribucion de material de construccion, somos socios
            estrategicos de cada uno de nuestros clientes</p>

        </br>
        </br>
        <form class="form">
            <label for="consulta">Consulta</label>
            <textarea id="consulta" class="form-control" rows="3" placeholder="Ingrese su consulta"></textarea>
            <label for="correo">Correo</label>
            <input id="correo" type="text" placeholder="Ingrese su correo" class="form-control">
            </br>
            <button type="button" class="btn btn-default"><i class="fa fa-envelope"></i> Enviar</button>
        </form>

    </div>
    <div class="col-md-8" align="center">
        <div class="row">
        <img src="/assets/tubo1.jpe" width="600" height="340" class="imagen-galeria">
        </div>
        </br>
        <div class="row" align="center">
            <a href="#" class="btn btn-default active"><i></i>1</a>
            <a href="#" class="btn btn-default "><i></i>2</a>
            <a href="#" class="btn btn-default "><i></i>3</a>
            <a href="#" class="btn btn-default "><i></i>4</a>
            <a href="#" class="btn btn-default "><i></i>5</a>
        </div>
    </div>
</div>